{%extends 'base.html' %}
{%block title%}Home{%endblock%}

{%block content %}

<div class="row mt-5">
    <div class="col-md-8 offset-md-2 text-center">
        <h1 class="display-4 fw-bold">Welcome, {{ username }}! </h1>
        <p class="lead text-muted mt-3">
            Manage your tasks efficiently. Stay organized, stay productive.
        </p>
        <p class="fs-5">You have <strong>{{ total_tasks }}</strong> tasks waiting.</p>
        <a href="#" class="btn btn-dark btn-lg mt-3">View Tasks</a>
    </div>
</div>


{%endblock %}